<table cellpadding="0" cellspacing="0" width="100%"
    style="margin:0 auto;max-width:800px;text-align:left;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI';background-color:#c7c2c2">
    <tr style="background:#003E84">
        <td>
            <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td style="padding:10px 10px 4px 45px;display:block">
                            <a href="#m_-6969542780916914848_" style="display:block">
                                <img>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:4px 10px 10px 55px">
                            <span style="font-size:16px;color:#fff;display:block">
                                <em> Makes recruitment like a piece of cake.</em>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table width="100%"
                style="margin:0 auto;max-width:750px;text-align:left;background:#fff;background:#fff;padding:0 20px 0">
                <tr>
                    <td style="font-size:20px;text-align:center;padding-top:20px">
                        <strong> Hi <%=firstName%>,</strong>
                    </td>
                </tr>
                <tr>
                    <td style="font-size:17px;color:#666666;text-align:center">Welcome to Bluebox, a cloud-based
                        Recruitment Management Solution. You are registered with Bluebox as <%= role %> for
                        <%= companyName %>.</td>
                </tr>
                <tr>
                    <td style="font-size:17px;color:#666666;text-align:center;padding-top:10px">Your account
                        login details are as follows :</td>
                </tr>
                <tr>
                    <td style="font-size:17px;color:#666666;text-align:center"> <b>Login ID</b>:
                        <%= email %></td>
                </tr>
                <tr>
                    <td style="font-size:17px;color:#666666;text-align:center"><b>Password</b> : <%= password %>
                    </td>
                </tr>
                <tr>
                    <td style="font-size:17px;color:#666666;text-align:center"><b>Bluebox Recruiter URL</b> : <a
                            href="<%= recruiterURL %>" target="_blank" style="text-decoration: none;"><%=recruiterURL%> </a>
                    </td>
                </tr>
                <tr>
                    <td style="font-size:17px;color:#666666;text-align:center"><b>Do not share your password
                            with anyone.</b> Change your Password <b>IMMEDIATELY </b> if you suspect that
                        someone knows it.</td>
                </tr>
                <tr>
                    <td style="text-align:center;padding-top:20px"><b>Best Regards</b></td>
                </tr>
                <tr>
                    <td style="text-align:center"><b>Business Relations Team</b></td>
                </tr>
                <tr>
                    <td style="text-align:center;color: black;"><b>
                        <a href="<%=portalUrl%>" style="text-decoration: none;">Bluebox.jobs</a></b></td>
                </tr>
                <tr>
                    <td style="text-align:center">For any further assistance, please contact us at: membership@bluebox.jobs</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <br>
        </td>
    </tr>
</table>
