<table width="736" style="font-family:-apple-system,BlinkMacSystemFont,'Segoe UI';font-size: 12px;border:1px solid">
    <tbody>
        <tr>
            <td width="736" colspan="4">
                <div style="text-align:center;padding-bottom:10px">
                    <b>
                        <span style="font-size:14px;color:black">
                            JOB REQUIREMENTS HAVE BEEN MODIFIED
                    </b>
                </div>
            </td>
        </tr>
        <tr>
            <td width="197" style="padding:5 5 5 5;">
                <div style="color:black;text-align:right;">
                    <b>
                        Date:
                    </b>
                </div>
            </td>
            <td style="padding:5 5 5 5;" colspan="3">
                <div style="text-align:left;padding-left:20px">
                    <%=updatedAt%>
                </div>
            </td>
        </tr>
        <tr>
            <td width="120" style="padding:5 5 5 5;">
                <div style="color:black;text-align:right">
                    <b>
                        Position:
                    </b>
                </div>
            </td>
            <td width="280" style="padding:5 5 5 5">
                <div style="text-align:left;padding-left:20px">
                    <%=position%> - Ref: <a href="<%=jobRefLink%>" target="_blank"><%=jobRef%></a>
                </div>
            </td>
        </tr>
        <tr>
            <td width="120" style="padding:5 5 5 5;">
                <div style="color:black;text-align:right">
                    <b>
                        Status:
                    </b>
                </div>
            </td>
            <td width="280" style="padding:5 5 5 5">
                <div style="text-align:left;padding-left:20px">
                    <%=jobStatus%>
                </div>
            </td>
        </tr>
        <tr>
            <td width="120" style="padding:5 5 5 5;">
                <div style="color:black;text-align:right">
                    <b>
                        Details:
                    </b>
                </div>
            </td>
            <td width="280" style="padding:5 5 5 5">
                <div style="text-align:left;padding-left:20px">
                    <%=workCountry%>
                </div>
            </td>
        </tr>
        <tr>
            <td width="120" style="padding:5 5 5 5;">
                <div style="color:black;text-align:right;">
                    <b>
                        Hiring Department:
                    </b>
                </div>
            </td>
            <td width="280" style="padding:5 5 5 5">
                <div style="text-align:left;padding-left:20px">
                    <%=projectName%>
                </div>
            </td>
        </tr>
        <tr>
            <td width="120" style="padding:5 5 5 5;">
                <div style="color:black;text-align:right;">
                    <b>
                        Assigned To:
                    </b>
                </div>
            </td>
            <td width="280" style="padding:5 5 5 5">
                <div style="text-align:left;padding-left:20px">
                    <%=assignedTo%>
                </div>
            </td>
        </tr>
        <tr>
            <td width="120" style="padding:5 5 5 5;">
                <div style="color:black;text-align:right;">
                    <b>
                        Type of Hiring:
                    </b>
                </div>
            </td>
            <td width="280" style="padding:5 5 5 5">
                <div style="text-align:left;padding-left:20px">
                    <%=typeOfHiring%>
                </div>
            </td>
        </tr>
        <tr>
            <td width="120" style="padding:5 5 5 5;">
                <div style="color:black;text-align:right;">
                    <b>
                        Remarks:
                    </b>
                </div>
            </td>
            <td width="280" style="padding:5 5 5 5">
                <div style="text-align:left;padding-left:20px">
                    <%=remarks%>
                </div>
            </td>
        </tr>
        <tr>
            <td width="120" style="padding:5 5 5 5;">
                <div style="color:black;text-align:right;">
                    <b>
                        Updated by:
                    </b>
                </div>
            </td>
            <td width="280" style="padding:5 5 5 5">
                <div style="text-align:left;padding-left:20px">
                    <%=updatedBy%>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding:25 5 5 5;width: 736px;
            word-break: break-all;" colspan="3">
                <div style="text-align: center;padding: 0 5 10 5;">
                    Sent via Bluebox | <a href="<%=portalUrl%>" style="color: green; text-decoration: none;">Learn More</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<br>
<div><%-emailSignature%></div>
