<div style="margin: 0;">
    <table cellpadding="0" cellspacing="0" width="100%"
        style="border: 2px solid #003e84;margin:0 auto;max-width:600px;text-align:center; font-family:arial;background-color: #ebebeb;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI;'">
        <tr style="background:#003E84;">
            <td>
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <a href="#" style="padding: 10px 10px 10px 50px; display: block;text-align: center;max-height: 200px;">
                                <img style="max-width: 100px;max-height:100px;text-align: center" src="<%=edmLogo%>">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-size: 27px;color: #fff; padding: 10px 10px 10px 50px;display: block;text-align: center;">
                                <h1 style="font-size: 30px; margin: 0;font-weight: 600;">News Event Letter</h1>
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table width="100%"
                    style="margin:0 auto;max-width:550px;text-align:left;background:#fff;background: #fff;padding: 30px 20px 30px;">
                    <tr>
                        <td style="font-size: 20px">
                            <strong>Dear <%=user%>,</strong>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 17px;color: #666666;">
                            News events are created, please check it out!
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="height: 39px;border-top: 4px solid #f3f3f3;margin-top:40px"></div>
                            <table width="100%" style="margin:0 auto;text-align:left;background:#fff;background: #fff;">

                                <tr>
                                    <td
                                        style="text-align: center; width: 100px; height: 88px; padding: 7px; border: 1px solid #ccc;border-radius:5px">
                                        <img style="max-width:100px;max-height:100px" src="<%=eventImage%>" />
                                    </td>
                                    <td>
                                        <table width="100% "
                                            style="margin:0 auto; text-align:left; background:#fff;background: #fff;width:400px">
                                            <tr>
                                                <td colspan="2" style="color:black">
                                                    <h2> <%=heading%></h2>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="color: #969696; font-size:14px;border-bottom: 1px solid #919191;padding-bottom: 5px;">
                                                        Description:
                                                        <span><%=description%></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="color: #969696;font-size:14px;border-bottom: 1px solid #919191;padding-bottom: 5px;">
                                                        Start Date:
                                                        <%=startDate%>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="color: #969696;font-size:14px;border-bottom: 1px solid #919191;padding-bottom: 5px;">
                                                        End Date:
                                                        <%=endDate%>
                                                </td>
                                            </tr>
                                        </table>
                                <tr>
                                    <td colspan="3" style="height:1px;padding-top:40px;border-bottom:4px solid #f3f3f3">
                                    </td>
                                </tr>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;color: #9d9d9d;font-size: 12px;padding-top: 10px;">
                If you do not want to receive these emails,
                <a href="<%=unsubscribeLink%>">Unsubscribe
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <div style="font-size: 13px; padding-top: 15px; text-align: center;">
                    Sent via Bluebox | <a href="<%=portalUrl%>" style="color: green; text-decoration: none;">Learn More</a>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="height: 30px;">
            </td>
        </tr>
        <tr>
            <td colspan="2" style="color: #333;font-size: 12px;font-weight: bold;">
                Engineered by BlueBox Pte Ltd. Copyright © 2020
            </td>
        </tr>
        <tr>
            <td colspan="2" style="height: 30px;">
            </td>
        </tr>
    </table>
</div>
